.Nav {
  width: 1200px;
  display: grid;
  grid-template-columns: 40% 60%;
  height: 150px;
  align-items: center;
  margin: auto;
}

.img-Logo {
  width: 280px;
}

.Nav ul {
  list-style: none;
}

.Nav li {
  display: inline;
  margin: 30px;
}

.main-section {
  height: 100vh;
  width: 1200px;
  margin: auto;

  padding-top: 100px;
}

.degradado {
  width: 1200px;
  height: 30vh;
  background: linear-gradient(to right, #2558e6, #ffffff);
  border-radius: 2rem;
}

.degradado h1 {
  font-size: 1.8rem;
  color: #ffffff;
  text-align: left;
  padding-top: 5rem;
}

.explorar {
  height: 50px;
  width: 120px;
  color: #ffffff;
  background-color: #2558e6;
  border-radius: 1rem;
  margin-top: 50px;
}
